body{
    background-color:white;
    margin-left: 15%;
    margin-right: 15%;
    
}
#tbl1{
   width: 100%;
   border: none;
   text-align: left;
   text-align: top;

}
#tbl1cell1{
   width: 33%;
   font-size: 26px;
   
}
#tbl1cell2{
    width: 34%;
    font-size: 26px;
   
 }
 #tbl1cell3{
    width: 33%;
    font-size: 26px;
 }
 .parafntjust{
     text-align: justify;
 }
 .parafntjust2{
   margin:0;
    
}
.bd {

    display: flex;
    align-items: top;
}

.ami {

    display: flex;
}

.one-third-width {

    width: 30%;
    margin: 0 1.5%;

}